.header__square-pic {
    position: absolute;
    width: 568px;
    height: 568px;
    right: 0;
    margin-top: 64px;
    z-index: -1;
    background-color:#2f80ed;
    animation-name: rotation;
    animation-timing-function: linear;
    animation-iteration-count:infinite;
    animation-direction:normal;
    animation-duration:20s;
  }