.resources__link {
    width: 270px;
    height: 38px;
    align-items: center;
    margin-right: 0;
    margin-bottom:0;
    margin-left: 0;
}

.resources__link:hover {
    opacity: 50%;
    transition: opacity .5s linear .5s;
}
    
