.footer__column-link {  
    color: white;
    font-weight: normal;
    text-decoration: none;
    line-height: 30px;
    font-size: 18px;
    list-style-type: none;
    margin: 0 0 0 0;
}

.footer__column-link:hover{
  opacity: 50%;
  transition: opacity .5s linear .5s;
}
