.two-columns__brief {
    text-decoration: none;
    width: 175px;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    padding: 0;
    color: #2f80ed;
    margin-right: 60px;
    margin-top:0;
  }