.khan__buy-link {
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    color: #2f80ed;
    text-decoration: none;
    margin-bottom: 68px;
    position: absolute;
   float: left;
   padding-top: 0;
  }